site_name: Agent Client Protocol - Python SDK
repo_url: https://github.com/agentclientprotocol/python-sdk
site_url: https://agentclientprotocol.github.io/python-sdk
site_description: A Python implement of Agent Client Protocol (ACP, by Zed Industries)
site_author: Chojan Shang
edit_uri: edit/main/docs/
repo_name: agentclientprotocol/python-sdk
copyright: Maintained by <a href="https://github.com/psiace">psiace</a>.

nav:
  - Home: index.md
  - Quick Start: quickstart.md
  - Experimental Contrib: contrib.md
  - Releasing: releasing.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: ["src/acp"]
theme:
  name: material
  feature:
    tabs: true
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/agentclientprotocol/python-sdk
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/agent-client-protocol

markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
